.navbar {
  background-color: #bad9f6;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.bg {
  background-color: #bad9f6;
}
#gallery {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.bi {
  font-size: 2rem;
}
.bi-1 {
  font-size: 35px;
}
.gallery-img {
  width: 100%;
}
#gallery .row > * {
  padding: 0;
}
