.navbar {
  background-color: #bad9f6;
}
.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
.bg {
  background-color: #bad9f6;
}
#gallery {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
